<h2>Committees</h2>

<ul class="committees">
  <li *ngFor="let committee of committees">
    <a routerLink="/committee/{{committee.noId}}">
      <span class="badge">{{committee.abbrev}}</span> {{committee.name}}
    </a>
  </li>
</ul>

<app-committees
  [committee]="committees[0]">
</app-committees>


<app-committees
  [committee]="committees[1]">
</app-committees>


<!--
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
