<h2>Committees</h2>

<ul class="committees">
  <li *ngFor="let committee of committees">
    <a routerLink="/committee/{{committee.noId}}">
      <span class="badge">{{committee.abbrev}}</span> {{committee.name}}
    </a>
  </li>
</ul>
<!--
<app-committees [committee]="committees[0]"></app-committees>

<app-committees [committee]="committees[1]"></app-committees>

<app-committees [committee]="committees[2]"></app-committees>

<app-committees [committee]="committees[3]"></app-committees>

<app-committees [committee]="committees[4]"></app-committees>

<app-committees [committee]="committees[5]"></app-committees>

<app-committees [committee]="committees[6]"></app-committees>

<app-committees [committee]="committees[7]"></app-committees>

<app-committees [committee]="committees[8]"></app-committees>

<app-committees [committee]="committees[9]"></app-committees>

<app-committees [committee]="committees[10]"></app-committees>

<app-committees [committee]="committees[11]"></app-committees>

<app-committees [committee]="committees[12]"></app-committees>

<app-committees [committee]="committees[13]"></app-committees>

<app-committees [committee]="committees[14]"></app-committees>

<app-committees [committee]="committees[15]"></app-committees>

<app-committees [committee]="committees[16]"></app-committees>

--->
<!--
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
