.seconds {
  background-color: black !important;
  color: white !important;
  font-size: 3em !important;
  margin: 0.3em 0 !important;
  text-align: center !important;
  width: 5em !important;
}
.col {
  float: top;
  width: 50%;
  padding: 10px;
}
.row {
  width: 100%;
}

