.seconds {
  background-color: black;
  color: white;
  font-size: 3em;
  margin: 0.3em 0;
  text-align: center;
  width: 5em;
}
.col {
  float: top;
  width: 50%;
  padding: 10px;
}
.row {
  width: 100%;
}

