#voterTabs {

}

#motionProp {
  background-color: #FFFFFF;
  font-size: 30px;
}

button {
  color: black;
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 4px;
  border: 2px solid black;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: gray !important;
  color: white;
}
