<h2><input type="text" #subjectInput placeholder="Input Motion Here"/></h2> <!-- TODO: FIX --->

<button
  (click) = "showSubject(subjectInput.value)"
>Confirm Motion</button>
<h2 id = "SubjectOfVote"> </h2>

<button>Start Vote</button> <!-- TODO: Make flashier, START VOTE ON...-->

<h3>For: {{agreed}}, Against: {{disagreed}}, Abstain: {{abstained}}</h3>

<app-voter *ngFor="let voter of voters"
           [name]="voter"
           (voted)="onVoted($event)">
</app-voter>

<h3>Result</h3>
<button (click)="showResult()">Click for Result</button>
<p id = "ResultOfVote"></p>
<button
  (click)="resetVote()">
  Reset Vote</button> <!-- TODO: FIX -->
