button{
  background-color: #0A0D2E;
}

div {
  background-color: transparent;
}

h1 {
  font-size: 1.2em;
  color: #FFFFFF;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
  color: #FFFFFF;
}
nav {
  padding: 20px;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #0A0D2E;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #00D1C7;
  background-color: #0A0D2E;
}
nav a.active {
  color: #00D1C7;
}

/* Dropdown Button */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 2;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0A0D2E;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #00D1C7;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #0A0D2E;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;
  background-color: #0A0D2E}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: #00D1C7;
  background-color: #0A0D2E}

/*
.cdk-overlay-container{
  z-index: 9999999000000000;
}

/*
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
