/*#title1, #content1 {
  z-index: 9000;
}*/

#content1, #stuff1 {
  height: 400px;
}

#typeOfCaucus, #topic23 {
  height: 30px;
  font-size: medium;
}

#text24 {
  font-size: 33px;
}

#minutesCau, #secondsCau {
  width: 75px;
  height: 50px;
  font-size: 30px;
}
