.members {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.members li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.members li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.members a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.members a:hover {
  color:#607D8B;
}

.members .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: gray !important;
  color: white;
}

.speaker {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.speaker li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.speaker li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.speaker a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.speaker a:hover {
  color:#607D8B;
}

.members .badge {
  display: inline-block;
  font-size: medium;
  color: #0A0D2E;
  padding: 0.8em 0.7em 0 0.7em;
  line-height: 1em;
  text-align: right;
  background-color: transparent;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 30.00%;
  padding: 10px;
  height: auto;
  border: 4px #0A0D2E;;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Styles for tab labels */
.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: #0A0D2E;
  font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: #0A0D2E;
  font-weight: 700;
}

#addMemberBtn {
  font-weight: bold;
  left: 0;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: purple;
}

.mat-tab-body-wrapper{
  height: 1000px;
  width: 100%;
}
/*
.cdk-overlay-container{
  z-index: 9999999000000000;
}
*/
#minutes, #speakerMinutes, #speakerSeconds, #seconds {
  width: 65px;
  height: 50px;
  font-size: 30px;
}

.forText {
  height: 2000px;
}

#col1 {
  color: #0A0D2E;
  border-right: 4px #0A0D2E;
}

div{
  column-rule: 4px #0A0D2E;
}

.seconds {
  background-color: black !important;
  color: white !important;
  font-size: 3em !important;
  margin: 0.3em 0 !important;
  text-align: center !important;
  width: 3em !important;
}

/*
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
