<div id = "forText">
  <div class = "row">
    <div class = "column" id = "col1">
      <mat-tab-group>
      <mat-tab label="States">
          <h2>States Database</h2>
          <p>Add your Member States here</p>
          <app-member-search></app-member-search>
          <ul class="members"  style="overflow:scroll;   height:400px;">
            <li *ngFor="let member of members">
              <button class = "addMember"
                      title = "Add as Member State"
                      (click)="addMember(member)"
                      [disabled] = "addedAlready(member)"
                      id = "addMemberBtn"
                      matTooltip="Add as a Member State">
                +
              </button>
              {{member.name}}
            </li>
          </ul>
      </mat-tab>
      <mat-tab label="Members (Add Speakers from Here)">
          <h2>Member States</h2>
          <p>Left button adds to Speakers' List, right button adds to Moderated Caucus, depending on which is active</p>
          <ul class="members">
            <li *ngFor="let member of membersList">
              <button
                class = "addSpeaker"
                title = "Add to Speakers' List"
                (click)="addSpeaker(member)"
                [disabled] = "isModStart(caucusTopic)"
              >+</button>
              <button
                class = "addModCaucus"
                title = "Add to Moderated Caucus"
                (click)="addModCau(member)"
                [disabled] = "!isModStart(caucusTopic)"
              >+</button>
              {{member}}
              <button
                (click)="removeMemberState(member)">
                x
              </button>
            </li>
          </ul>
      </mat-tab>
    </mat-tab-group>
  </div>

    <div class = "column" id = "col2">
      <mat-tab-group>
        <mat-tab label="Voting">
          <app-votetaker
            [voters] = "membersList">
          </app-votetaker>
        </mat-tab>
        <mat-tab label="Speakers">
          <div *ngIf="isListContained(speakersList); else elseBlock1">
            <li *ngFor="let member of speakersList">
              <a>{{member}}</a>
              <button class = "removeSpeaker" title = "Remove from Speakers' List" (click)="removeSpeaker(member)">x</button>
            </li>
          </div>
          <ng-template #elseBlock1>
            <h3>Speakers' List is Empty. Add some speakers!</h3>
          </ng-template>
        </mat-tab>
        <mat-tab label="Caucus">
          <div *ngIf="isModStart(caucusTopic); else modNoStart">
            <p>Moderated Caucus on {{caucusTopic}}</p>
            <button
              (click)="endModeratedCaucus()">
              End Moderated Caucus on {{caucusTopic}}
            </button>
            <li *ngFor="let member of modList">
              <a>{{member}}</a>
              <button
                class = "removeModSpeaker"
                title = "Remove from Moderated Caucus"
                (click)="removeModSpeaker(member)">x</button>
            </li> <!-- TODO: ACTIVATE MODERATED CAUCUS FUNCTION-->
          </div>
          <ng-template #modNoStart>
            <p>You haven't started a Moderated Caucus.</p>
            <input id = "moderatedCaucusTopic">
            <button (click)="submitCaucusTopic(callModCaucus())">
              Call a Moderated Caucus
            </button>
            <button (click)="callUnmoderatedCaucus()">
              Call an Unmoderated Caucus (currently does nothing)
            </button>
            {{caucusTopic}}
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>


    <div class = "column" id="col3">
      <h2>Topic of Discussion:
        <br>{{caucusTopic}}
        <br></h2>
      <app-timer-parent-vc
        [type]="currentList(caucusTopic)"> <!-- TODO: Fix this event-->
      </app-timer-parent-vc>
    </div>
  </div>
</div>
