/* Master Styles */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css";

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #F1F1F3;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #F1F1F3;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #F1F1F3;
}
nav a.active {
  color: #039be5;
}

div {
  background-color: #F1F1F3;
}

body {
  padding: 0;
  background-color: #0A0D2E;
}

head {
  background-color: #0A0D2E;;
  padding: 30px;
}


/* everywhere else */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}/*
.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop .fade .in {
  opacity: 0.5 !important;
}
.modal {
  text-align: center;
  padding: 0!important;
  display: block;
  height: 0;
  overflow: visible
}

.modal::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


.modal-backdrop.fade {
  opacity: 0.5 !important;
}

/*
.cdk-overlay-container, .cdk-global-overlay-wrapper, .cdk-overlay-pane, .mat-dialog-container, .mat-dialog-title,
.mat-dialog-content {
  z-index: 99999000000000;
}

/*
.mat-dialog-container{
  background-color: darkred;
  z-index: 999999999;
}*/

/*
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
