<div id="search-component">
  <h4>State Search</h4>

  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let member of members$ | async" > <!-- The $ is a convention that indicates members$
                                                        is an Observable, not an array. -->
      <button
        class = "addMember"
        title = "Add to Members' List"
        (click)="caucusComponent.addMember(member)"
        [disabled] = "caucusComponent.addedAlready(member)">
      {{member.name}}
      </button>
    </li>
  </ul>
</div>
